

//----------------------------------------------------------------
// icon
//----------------------------------------------------------------
.c-icon {
  display: inline-block;
  line-height: 0;
  svg {
    width: 100%;
    height: 100%;
  }
}

//----------------------------------------------------------------
// c-icon-arrow-01
//----------------------------------------------------------------
.c-icon-arrow-01 {
  width: 6px;
  height: 10px;
}